@import url(https://rsms.me/inter/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/main/main.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_now/header__lang-link_now.css);
@import url(../blocks/header/__lang-selector/header__lang-selector.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__figure/lead__figure.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__list/intro__list.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__list/photo-grid__list.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);

@import url(../blocks/place/place.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/__link/place__website__link.css);
@import url(../blocks/place/__website/__url-heading/place__website__url-heading.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__website/place__website.css);
